* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.container {
  width: 400px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  gap: 20px;
}

.container img {
    border-radius: 50%;
    height: 120px;
}

.information{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information h1 {

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.information h3 {
    font-weight: bold;
    color: hsl(75, 94%, 57%);
}

.container p {
    text-align: center;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;

}

button {
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 15px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

    @media only screen and (max-width: 425px) {
    .container {
     padding: 25px;
    }
   
    button {
     height: 60px;
    }
   }
